<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucla.nesl.calculateprimenumbers" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MessageFromWearListenService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service
            android:name=".services.PrimeCalculationService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".services.SendingDataToWearCrazilyService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".services.KeepWearAwakeService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".services.ReadWriteFileCrazilyService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".services.ReceivingDataFromWearCrazilyService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".services.SensorCoordinatingCollectionService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
